@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes magnifier {
    0% {rotate: 0deg;}
    25% {rotate: 25deg;}
    100% {rotate: -40%;}
}

@keyframes moveLupa {
    0% { transform: translateX(-20px); }
    100% { transform: translateX(20px); }
}