@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(../css/animations.css);
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.hidden {
    opacity: 0;
    transition-duration: 1s;
}

.hero {
    transition-duration: 1s;
}

.hero-hidden {
    opacity: 0;
}

.sign-body {
    color: #000;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.lupa {
    width: 80px;
    height: 80px;
    position: relative;
    animation: moveLupa 2s infinite alternate;
}

.lupa::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    background: white;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 5px;
}

.content {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    height: 80vh;
    animation: fadeIn 1s;
}

.box {
    border: 1px solid;
    padding: 1em 2em 3em 2em;
    border-radius: 20px;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.message {
    font-size: 24px;
    margin-bottom: 20px;
}
.btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #363636;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #545454;
}

.form-title {
    font-weight: bold;
    font-family: 'Arsenal SC', sans-serif;
}

.container {
    background: #fefcf8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    display: block;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    border: 2px solid #000;
    margin: 0 auto 4em auto;
    object-fit: cover;
    box-shadow: 3px 3px 15px #000;
}

.form-img {
    margin: auto;
    display: block;
}

h2, h4 {
    text-align: center;
    font-weight: bold;
}

textarea, input {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
}

.form-label {
    font-weight: bold;
}

.stamp-button {
    position: relative;
    float: right;
    width: 150px;
    height: 50px;
    background: #813232;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: 3px solid #672a2a;
    border-radius: 20px;
    box-shadow: 5px 5px 0px #682121;
    transform: rotate(-3deg);
    text-align: center;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.5s;
}

.stamp-button:hover {
    background: #610909;
    border-color: #670606;
}

input, textarea {
    font-family: 'Playwrite IT Moderna', sans-serif;
}

select {
    font-family: 'Playwrite IT Moderna', sans-serif;
}

.uploadcare--widget__button_type_open {
    background: #888;
}

.uploadcare--widget__button_type_open:hover {
    background: #707070;
}

.uploadcare--widget__button_type_open:focus {
    background: #363636;
}